@font-face {
    font-family: 'Lilita One';
    src: url('fonts/LilitaOne.woff2') format('woff2'),
        url('fonts/LilitaOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: Lilita One;
    --light-color: #e3e8f8;
    --second-color: #c0c5cd;
    --third-color: #3e588f;
    --dark-color: #203562;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 20px;
    background-color: var(--light-color);
}

.heading {
    font-size: 4rem;
    color: var(--dark-color);
    padding-top: 20px;
}

.game-grid {
    width: 450px;
    height: 450px;
    background-color: var(--dark-color);
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 20px;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
}

.game-button {
    font-family: Lilita One;
    color: var(--dark-color);
    background-color: var(--second-color);
    font-size: 6rem;
    border-radius: 5px;
    border:0;
}

.game-button:hover {
    background-color: var(--third-color);
    color:var(--light-color);
    cursor: pointer;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.player {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-color);
    color: var(--light-color);
    height: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 220px;
}
.player input{
    appearance: none;
    height: 50px;
    font-family: Lilita One;
    font-size: 1.5rem;
    width: 8ch;
    color: var(--light-color);
    background-color: transparent;
    border: 0;
    padding: 5px;
}

.player-name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player button {
    appearance: none;
    width: 7ch;
    font-family: Lilita One;
    background-color: var(--light-color);
    border: 0;
    border-radius: 5px;
}

.player button:hover,
.new-game-button:hover {
    background-color: var(--third-color);
    cursor: pointer;
    color: var(--light-color);
}

.score, .letter {
    font-size: 1.5rem;
}

.player input::placeholder {
    color: var(--light-color);
}

.player-name-change {
    font-size: 2rem;
}

.game-end-container {
    width: 300px;
    height: fit-content;
    
}
.game-end-pop-up {
    background-color: var(--dark-color);
    display: none;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px;
}

.who-won {
    font-size: 1.5rem;
    color: var(--light-color);
}

.new-game-button {
    appearance: none;
    height: 40px;
    background-color: var(--second-color);
    color: var(--dark-color);
    border: 0;
    border-radius: 5px;
    width: 150px;
    font-family: Lilita One;
}

.mobile-score {
    font-size: 1.5rem;
    color: var(--light-color);
    display:none;
}

.copyright {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    gap: 5px;
    margin-bottom: 5px;
}

.copyright img {
    height: 1.5rem;
}

a {
    text-decoration: none;
    color: var(--dark-color);
}


@media (max-width: 975px) {
    .player {
      display: none;
    }
    .mobile-score {
        display: inherit;
    }
  }

@media (max-width: 400px) {
    .game-grid {
        width: 250px;
        height: 250px;
        grid-template-columns: repeat(3, 60px);
        grid-template-rows: repeat(3, 60px);
    }
    .game-button {
        font-family: Lilita One;
        color: var(--dark-color);
        background-color: var(--second-color);
        font-size: 3rem;
        border-radius: 5px;
        border:0;
    }
    .mobile-score {
        display: inherit;
    }
}